
{% url 'accounts:login' as login_url %}
{% url 'accounts:logout' as logout_url %}
{% url 'accounts:register' as register_url %}
{% url 'accounts:profile' as user_profile %}
{% url 'accounts:disease' as disease_url %}
{% url 'accounts:disease_show' as disease_show_url %}

<section id="navigation" class="bg-dark fixed-top">
  <nav class="navbar navbar-expand-md navbar-dark scrolling-navbar">
    <a href="{% url 'home' %}" class="navbar-brand" style="font-weight: bold;">HDPS</a>
    <div class="collapse navbar-collapse font-weight-bold" id="navbarCollapse">

      <ul class="navbar-nav ml-auto">
        <!-- Help End -->
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="{{ disease_url }}" class="nav-link">Check Diseases</a>
        </li>
        <li class="nav-item">
          <a href="{{ disease_show_url }}" class="nav-link">Disease Status</a>
        </li>
        <li class="nav-item">
          <a href="{{ user_profile }}" class="nav-link">{{user}}</a>
        </li>
        <li class="nav-item">
          <a href="{{ logout_url }}" class="nav-link">Logout</a>
        </li>
        {% else %}
        <!-- <li class="nav-item">
          <a href="{{ register_url }}" class="nav-link">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="{{ login_url }}" class="nav-link">Sign in</a>
        </li> -->
        {% endif %}
      </ul>
    </div>
  </nav>
</section>