@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.main-bg {

    background: url(../images/nurse.jpg);
    /* background: url(../images/bg1.png); */
    /* background: url(../images/blood-pressure-monitor-1749577_1920.jpg); */
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-section {
    min-height: 435px;
    width: 500px;
    padding: 30px;
    border: 3px solid #fff;
    box-shadow: 1px 4px 26px 11px rgba(0, 0, 0, 0.5);
    margin-top: 45px;
    border-radius: 20px;
}

h4.project-title {
    color: #fff;
    font-size: 23px;
    font-family: Roboto;
    text-align: center;
    font-weight: 800;
    margin-bottom: 0;

}

.login-tab {
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

.login-tab .nav-tabs .nav-item {
    width: 50%;
}

.login-tab .nav-tabs {
    margin-bottom: 20px;
}

.login-tab .nav-tabs .nav-link {
    color: #fff;
    font-size: 17px;
    border: 1px solid #fff;
    border-radius: 0;
    text-align: center;
    text-transform: capitalize;
}

.login-tab .nav-tabs .nav-link.active {
    background: #8cc63f;
    border-radius: 0;
    color: #fff;
    border: 1px solid #8cc63f;

}

.login-tab label {
    color: #fff;
    font-size: 17px;
}

.login-tab .form-check-label {
    font-size: 15px;
}

.login-tab .form-label-group {
    margin-bottom: 20px;
}

.login-tab .form-check-input {
    margin-left: 0;
}

.login-tab .form-control {
    font-size: 15px;
    color: #666666;
    border-radius: 0;
}

.login-tab .form-control:focus {
    border-color: none;
}

.green-btn {
    background: #8cc63f;
    color: #fff;
    font-size: 17px;
    border-radius: 0;
}

/* #hint_id_username{
    display: none;
} */


.form-group label {
    color: #fff;
}

.form-check .form-check-input {
    margin-top: 40px;
    margin-left: 8px;

}

.form-check .form-check-label {
    margin-top: 34px;
    margin-left: 11px;
}

h1.title {
    color: #fff;
    margin-bottom: 0;
    font-size: 30px;
}

.check-dis-card {
    background: transparent;
    box-shadow: 1px 4px 26px 11px rgba(0, 0, 0, 0.5);
    border: 3px solid #fff;
    border-radius: 10px;
}

.check-btn {
    background: #662d91;
    color: #fff;
}

.info-card {
    height: 305px;
    margin-bottom: 20px;
}

.info-card .table-responsive {
    height: 196px;
    overflow-y: scroll;
}

.result-card .card {
    margin-bottom: 20px;
}

.result-card td {
    padding: 5px 10px;
}

.content-box-full {
    width: 70%;
    margin: auto;
    text-align: center;
    height: 100vh;
    position: relative;
}

.content-box {

    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}

.content-box h1 {
    color: #fff;
    font-size: 50px;
}

.content-box p {
    color: #fff;
    /* margin-bottom: 0; */
}

.check {
    background: #fff;
    color: #662d91;
}

.check:hover {
    color: #fff;
    background: #662d91;
    box-shadow: none;
    border: none;
}

.login-section td {
    color: #fff;
}

.login-section .form-check-label {
    margin: 0;
}

.login-section .form-check-input {
    margin-top: 6px;
    margin-left: 0;
}

.regi-card {
    background: transparent;
    box-shadow: 1px 4px 26px 11px rgba(0, 0, 0, 0.5);
}

.regi-card h1 {
    margin-bottom: 0;
    font-size: 25px;
    color: #fff;

}

.regi-card .control-label {
    color: #fff;
}

.regi-card #hint_id_username {
    color: #fff;
    /* margin-bottom: 0; */
    font-size: 12px;
}