{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HDPS</title>

    {% include 'base/css.html' %}
    {% block head_extra %} {% endblock head_extra %}
</head>

<body>
    {% include 'base/navbar.html' with brand_name='HDPS' %}

    <section class="main-bg">
        <div class='container'>
            <br />
            <br />
            <br />
            <br />
            {% block content %}{% endblock %}
        </div>
    </section>

    <!-- {% include 'footer.html' %} -->
    {% include 'base/js.html' %}
    {% block javascript %}
    {% endblock %}
</body>

</html>