{% extends "base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
<div class='col-12'>

    <div class="card check-dis-card">
        <div class="card-header">
            <h1 class="title">{{ title }}</h1>
        </div>
        <div class="card-body">
            <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}

                <!-- {{ form|crispy }} -->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="age">Age*</label>
                            {% render_field form.age|append_attr:"class:form-control" type="number" placeholder="age" %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <div class="form-check">
                                {% render_field form.sex|append_attr:"class:form-check-input" type="checkbox" %}
                                <label class="form-check-label" for="gridCheck">
                                    click it only for male
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="cp">Chest Pain*</label>
                            {% render_field form.cp|append_attr:"class:form-control" type="number" placeholder="Chest Pain" %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="trestbps">Trestbps*</label>
                            {% render_field form.trestbps|append_attr:"class:form-control" type="number" placeholder="trestbps" %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="chol">Cholesterol*</label>
                            {% render_field form.chol|append_attr:"class:form-control" type="number" placeholder="Cholesterol" %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="fbs">Fasting Blood suger*</label>
                            {% render_field form.fbs|append_attr:"class:form-control" type="number" placeholder="Fasting Blood suger" %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="restecg">Rest ECG*</label>
                            {% render_field form.restecg|append_attr:"class:form-control" type="number" placeholder="restecg" %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="thalach">Thalach*</label>
                            {% render_field form.thalach|append_attr:"class:form-control" type="number" placeholder="Thalach" %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="exang">Exang*</label>
                            {% render_field form.exang|append_attr:"class:form-control" type="number" placeholder="exang" %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="oldpeak">oldpeak*</label>
                            {% render_field form.oldpeak|append_attr:"class:form-control" type="number" placeholder="oldpeak" %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="slope">slope*</label>
                            {% render_field form.slope|append_attr:"class:form-control" type="number" placeholder="slope" %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="ca">ca*</label>
                            {% render_field form.ca|append_attr:"class:form-control" type="number" placeholder="ca" %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="thal">thal*</label>
                            {% render_field form.thal|append_attr:"class:form-control" type="number" placeholder="thal" %}
                        </div>
                    </div>
                </div>
                <div class="w-100 text-center">
                    <input type='submit' class='btn btn-default check-btn' value='{{ title }}' />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}