{% extends "base.html" %}
{% block content %}
{% if data_list %}
{% for obj in data_list %}

<div class="row result-card">
    <div class="col-6">
        <div class="card info-card">
            <h5 class="card-header">
                User Information
            </h5>
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-striped">

                        <tbody>
                            <tr>
                                <td>Age</td>
                                <td>{{obj.disease.age}}</td>
                            </tr>
                            <tr>
                                <td>Sex</td>
                                <td>{{obj.disease.sex}}</td>
                            </tr>
                            <tr>
                                <td>Trest BPS</td>
                                <td>{{obj.disease.trestbps}}</td>
                            </tr>
                            <tr>
                                <td>Cholesterol</td>
                                <td>{{obj.disease.chol}}</td>
                            </tr>
                            <tr>
                                <td>Fasting Blood Suger</td>
                                <td>{{obj.disease.fbs}}</td>
                            </tr>
                            <tr>
                                <td>Rest ECG</td>
                                <td>{{obj.disease.restecg}}</td>
                            </tr>
                            <tr>
                                <td>Thalach</td>
                                <td>{{obj.disease.thalach}}</td>
                            </tr>
                            <tr>
                                <td>Exang</td>
                                <td>{{obj.disease.exang}}</td>
                            </tr>

                            <tr>
                                <td>Old Peak</td>
                                <td>{{obj.disease.oldpeak}}</td>
                            </tr>
                            <tr>
                                <td>Slope</td>
                                <td>{{obj.disease.slope}}</td>
                            </tr>
                            <tr>
                                <td>CA</td>
                                <td>{{obj.disease.ca}}</td>
                            </tr>
                            <tr>
                                <td>Thal</td>
                                <td>{{obj.disease.thal}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card info-card">
            <div class="card-header">
                Result Predicted By KNN
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">

                        <tbody>
                            <tr>

                                <td>Result</td>
                                <td>

                                    {% if obj.knn.result%}
                                    Yes
                                    {%else%}
                                    No
                                    {% endif%}
                                    Disease
                                </td>
                                <td></td>
                            </tr>

                            <tr>

                                <td>Accurecy</td>
                                <td>
                                    {{obj.knn.accuracy}}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (P)</td>
                                <td>
                                    {{obj.knn.con_00}}
                                </td>
                                <td>{{obj.knn.con_01}}</td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (N)</td>
                                <td>
                                    {{obj.knn.con_10}}
                                </td>
                                <td>{{obj.knn.con_11}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Result Predicted By Decision Tree
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">

                        <tbody>
                            <tr>
                                <td>Result</td>
                                <td> {% if obj.dtree.result%}
                                    Yes
                                    {%else%}
                                    No
                                    {% endif%}
                                    Disease</td>
                                <td></td>
                            </tr>
                            <tr>

                                <td>Accurecy</td>
                                <td>
                                    {{obj.dtree.accuracy}}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (P)</td>
                                <td>
                                    {{obj.dtree.con_00}}
                                </td>
                                <td>{{obj.dtree.con_01}}</td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (N)</td>
                                <td>
                                    {{obj.dtree.con_10}}
                                </td>
                                <td>{{obj.dtree.con_11}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card ">
            <div class="card-header">
                Result Predicted By Random Forest
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">

                        <tbody>

                            <tr>
                                <td>Result</td>
                                <td> {% if obj.rforest.result%}
                                    Yes
                                    {%else%}
                                    No
                                    {% endif%}
                                    Disease</td>
                                <td></td>
                            </tr>
                            <tr>

                                <td>Accurecy</td>
                                <td>
                                    {{obj.rforest.accuracy}}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (P)</td>
                                <td>
                                    {{obj.rforest.con_00}}
                                </td>
                                <td>{{obj.rforest.con_01}}</td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (N)</td>
                                <td>
                                    {{obj.rforest.con_10}}
                                </td>
                                <td>{{obj.rforest.con_11}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card ">
            <div class="card-header">
                Result Predicted By Ada Boost
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">

                        <tbody>

                            <!-- <tr>
                                <td>Result</td>
                                <td> {% if obj.adaboost.result%}
                                    Yes
                                    {%else%}
                                    No
                                    {% endif%}
                                    Disease</td>
                                <td></td>
                            </tr> -->
                            <tr>

                                <td>Accurecy</td>
                                <td>
                                    {{obj.adaboost.accuracy}}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (P)</td>
                                <td>
                                    {{obj.adaboost.con_00}}
                                </td>
                                <td>{{obj.adaboost.con_01}}</td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (N)</td>
                                <td>
                                    {{obj.adaboost.con_10}}
                                </td>
                                <td>{{obj.adaboost.con_11}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card ">
            <div class="card-header">
                Result Predicted By Logical Regression
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">

                        <tbody>
                            <tr>

                                <td>Accurecy</td>
                                <td>
                                    {{obj.lregression.accuracy}}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (P)</td>
                                <td>
                                    {{obj.lregression.con_00}}
                                </td>
                                <td>{{obj.lregression.con_01}}</td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (N)</td>
                                <td>
                                    {{obj.lregression.con_10}}
                                </td>
                                <td>{{obj.lregression.con_11}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card ">
            <div class="card-header">
                Result Predicted By SVM
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">

                        <tbody>
                            <tr>

                                <td>Accurecy</td>
                                <td>
                                    {{obj.svm.accuracy}}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (P)</td>
                                <td>
                                    {{obj.svm.con_00}}
                                </td>
                                <td>{{obj.svm.con_01}}</td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (N)</td>
                                <td>
                                    {{obj.svm.con_10}}
                                </td>
                                <td>{{obj.svm.con_11}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card ">
            <div class="card-header">
                Result Predicted By naive bayes
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">

                        <tbody>
                            <tr>

                                <td>Accurecy</td>
                                <td>
                                    {{obj.nbayes.accuracy}}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (P)</td>
                                <td>
                                    {{obj.nbayes.con_00}}
                                </td>
                                <td>{{obj.nbayes.con_01}}</td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (N)</td>
                                <td>
                                    {{obj.nbayes.con_10}}
                                </td>
                                <td>{{obj.nbayes.con_11}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card ">
            <div class="card-header">
                Result Predicted By xgboost
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">

                        <tbody>
                            <tr>

                                <td>Accurecy</td>
                                <td>
                                    {{obj.xgboost.accuracy}}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (P)</td>
                                <td>
                                    {{obj.xgboost.con_00}}
                                </td>
                                <td>{{obj.xgboost.con_01}}</td>
                            </tr>
                            <tr>
                                <td>Confusion Matrix (N)</td>
                                <td>
                                    {{obj.xgboost.con_10}}
                                </td>
                                <td>{{obj.xgboost.con_11}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endfor %}
{% else %}
<div class="content-box-full">
    <div class="content-box">
        <h1> {{no_disease}}</h1>
    </div>

</div>
{% endif %}
{% endblock content %}