<section id="footer">
    <div class="footer-inner" style="width: 100%; margin-left: 0; margin-bottom: 0;">
        <div class="footer-widgets" style="background: black; color: white;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="widget">
                            <h2 class="title"><span>About Me</span></h2>
                            <p>
                                I am tancho a Graphic Designer based in New York, specializing in User
                                Interface Design and Development.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="widget">
                            <h2 class="title"><span>Contact Me</span></h2>
                            <ul>
                                <li>
                                    Tel: +123 456 789
                                </li>
                                <li>
                                    Email: name@domain.com
                                </li>
                                <li>
                                    Address: 820 Utica Ave, Brooklyn, NY
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="widget">
                            <h2 class="title"><span>Web Links</span></h2>
                            <ul>

                                <li><a href="#">Tips & tricks</a></li>
                                <li><a href="#">Examples</a></li>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="copyright">
                            <p style="color: white;">SoftwareLab @ 2019. Design by <a href="#">Amir Hamza</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>