{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
{% url 'accounts:register' as register_url %}
{% url 'accounts:login' as login_url %}
{% url 'accounts:logout' as logout_url %}
{% url 'accounts:disease' as disease_url %}
{% url 'accounts:disease_show' as disease_show_url %}
<div class="container">
    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-12">
            <div class="content-box-full">
                <div class="content-box">
                    <h1>Heart Disease prediction system</h1>
                    <p>Heart Disease prediction system” is a prediction system that can gives a report of clear forecast of patient heart condition. </p>
                    <a href="{{ disease_url }}" class="btn btn-primary check">Check Diseases</a>
                    <!-- <a href="{{ disease_show_url }}" class="nav-link">Disease Status</a> -->
                </div>
            </div>
        </div>
    </div>


    {% else %}
    <div class="row">
        <div class="col-12">
            <div class="login-section">

                <h4 class="project-title">Heart Disease Prediction System</h4>

                <div class="login-tab">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Registration</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
                                <div class="form-label-group">
                                    <label for="username">User Name*</label>
                                    {% render_field login_form.username|append_attr:"class:form-control" type="text" placeholder="User Name" %}
                                </div>
                                <div class="form-label-group">
                                    <label for="password">Password*</label>
                                    {% render_field login_form.password|append_attr:"class:form-control" type="password" placeholder="Password" %}
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <div class="form-group mb-0">
                                    <input type='submit' class='btn btn-default w-100 green-btn' value='{{ login_title }}' />
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}

                                <!-- {{ register_form|crispy }} -->
                                <div class="form-label-group">
                                    <label for="username">User Name*</label>
                                    {% render_field register_form.username|append_attr:"class:form-control" type="text" placeholder="User Name" %}
                                </div>
                                <div class="form-label-group">
                                    <label for="email">Email*</label>
                                    {% render_field register_form.email|append_attr:"class:form-control" type="text" placeholder="Email" %}
                                </div>
                                <div class="form-label-group">
                                    <label for="password">Password*</label>
                                    {% render_field register_form.password|append_attr:"class:form-control" type="password" placeholder="Password" %}
                                </div>
                                <div class="form-label-group">
                                    <label for="password">Confirm Password*</label>
                                    {% render_field register_form.confirm_password|append_attr:"class:form-control" type="password" placeholder="Password" %}
                                </div>
                                <input type='submit' class='btn btn-default' value='{{ register_title }}' />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% endif %}
</div>
{% endblock content %}