{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>
    <hr />
    <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
        <!-- {{ form|crispy }} -->
        <div class="form-label-group">
            <label for="username">Username*</label>
            {% render_field form.username|append_attr:"class:form-control" type="text" placeholder="Username" %}
        </div>
        <div class="form-label-group">
            <label for="password">Password*</label>
            {% render_field form.password|append_attr:"class:form-control" type="password" placeholder="password" %}
        </div>
        <input type='submit' class='btn btn-default' value='{{ title }}' />
    </form>
</div>
{% endblock content %}
