{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="login-section">
            <h4 class="project-title mb-4">User Profile</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>

                            <td>Name : </td>
                            <td>{{user}}</td>
                        </tr>
                        <tr>

                            <td>Email : </td>
                            <td>{{user.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>
</div>
{% endblock content %}